* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

body {
    background-color: #eeeeee;
}

.admin-header {
    background-color: #f3f3f3;
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
    transition: all 0.3s ease 0s;
}


li, a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #333;
}


.logo {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.btn {
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: rgba(0,136,180,1);
    color: aliceblue;
    padding: 9px 25px;
    border:none;
    border-radius: 6px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: rgba(0,136,179,0.9);
}
