<!DOCTYPE html>
<html lang= "es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" type="image/jpeg" href="/images/metamapa.jpeg">
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

    {{!-- Inyectar CSS y Titulo de la vista que corresponda --}}
    {{#block "head"}}
        <title> MetaMapa </title>
    {{/block}}
</head>

<body>
    {{#block "navbar"}}
        <header class="header">
            <div class="header-container">
                <a href="/" class="header-left">
                    <img src="/images/metamapa.jpeg" class="logo" alt="MetaMapa">
                    <span class="logo-text"> MetaMapa </span>
                </a>

                <div class="header-right">
                    <a href="/login" class="btn nav-login">Iniciar Sesion</a>
                </div>
            </div>
        </header>
    {{/block}}
<main>
    {{#block "contenido-main"}}{{/block}}
</main>

{{#block "footer"}}
    <footer>
        <p> UTN FRBA - Diseño de Sistemas - Grupo 26 </p>
    </footer>
{{/block}}
</body>

</html>
