<html>
<head>
    <title>PROYECTO DISENIO 26</title>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hecho/nuevo">Crear Hecho</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
        </ul>
    </nav>
</head>
<body>
<form action="/hechos" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="title">

    <label for="motivo">Motivo</label>
    <input type="motivo" name ="motivo">

    <input type="submit" value="Guardar">
</form>
</body>
</html>
