<!DOCTYPE html>
<html>
<head>
    <title>PROYECTO DISENIO 26</title>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hecho/nuevo">Crear Hecho</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li> <a href="/solicitudes">Solicitudes de Eliminacion</a></li>
        </ul>
    </nav>
</head>
<body>
<main>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in
    </p>
</main>
<footer class="footer">
    <p>institucion: UTN FRBA</p>
    <p>materia: disenio de sitemas</p>
    <p>grupo 26</p>>
</footer>
</body>
</html>