<!DOCTYPE html>
<html>
    <head>
        <title>PROYECTO DISENIO 26</title>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/hecho/nuevo">Crear Hecho</a></li>
                <li><a href="/solicitud/nueva">Crear Solicitud</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <main>
            {{#block "body-layout"}}
            {{/block}}
        </main>
        <footer class="footer">
            <p>institucion: UTN FRBA</p>
            <p>materia: disenio de sitemas</p>
            <p>grupo 26</p>>
        </footer>
    </body>
</html>>