<!DOCTYPE html>
<html lang= "es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/main.css">
    <title>PROYECTO DISENIO 26</title>

    {{!-- Inyectar CSS de la vista que corresponda --}}
    {{#block "head"}} {{/block}}
</head>

<body>
    <header>
        {{#if esconderNav}}
        {{else}}
            {{#block "navbar" }}
                <img src="images/bars-solid-full.svg" class="logo" alt="">
                <nav>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/hecho/nuevo">Crear Hecho</a></li>
                    </ul>
                </nav>
                <a href="/login"><button class="nav-login">Iniciar Sesion</button></a>
             {{/block}}
         {{/if}}
    </header>
<main>
    {{#block "contenido-main" }}{{/block}}
</main>
<footer>
    <ul class="nav-links">
        <li>institucion: UTN FRBA</li>
        <li>materia: disenio de sistemas</li>
        <li>grupo 26</li>
    </ul>
</footer>
</body>

</html>
