<!DOCTYPE html>
<html lang= "es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/main.css">
    <title>PROYECTO DISENIO 26</title>

    {{!-- Inyectar CSS de la vista que corresponda --}}
    {{#block "head"}} {{/block}}
</head>

<body>
    <header>
      {{#block "navbar" }}
        <img src="images/bars-solid-full.svg" class="logo" alt="">
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/hecho/nuevo">Crear Hecho</a></li>
            </ul>
        </nav>
    <a href="/login"><button class="nav-login">Iniciar Sesion</button></a>
    {{/block}}
    </header>
<main>
    {{#block "contenido-main" }}{{/block}}
</main>
<footer>
    <p>institucion: UTN FRBA</p>
    <p>materia: disenio de sistemas</p>
    <p>grupo 26</p>
</footer>
</body>

</html>
