{{#partial "head"}}
    <link rel="stylesheet" href="assets/login.css">
{{/partial}}

{{#partial "navbar"}}{{/partial}}

{{#partial "contenido-main"}}
    <div class="login-container">
        <h2> Iniciar Sesion </h2>
        <form method="POST" action="/login" class="form-login">
            <div class="form-field">
                <input type="text" placeholder="Usuario" name="nombre" required>
            </div>

            <div class="form-field">
                <input type="password" placeholder="••••••••••••" name="password" required>
            </div>

            <div class="form-field">
                <input type="submit" class="form-button" value="Iniciar Sesion">
            </div>
            <p class="registro"> No tenes cuenta? <a href="#" class="link"> Registrame </a> </p>
        </form>
     </div>
    {{error}}
{{/partial}}

{{>templates/layout}}