{{#partial "navbar"}}
{{/partial}}

{{#partial "contenido-header"}}
    Iniciar Sesión
{{/partial}}

{{#partial "contenido"}}
    <div class="login-container">
    <form method="POST" action="/login" class="form-login">
        <div class="form-field">
            <label>Usuario </label><input type="text" placeholder="Usuario" name="nombre" required>
        </div>

        <div class="form-field">
            <label>Contraseña</label><input type="password" placeholder="••••••••••••" name="password" required>
        </div>

        <div class="form-field">
            <input type="submit" value="Iniciar Sesion">
        </div>
    </form>
    </div>
    {{error}}
{{/partial}}

{{>templates/layout}}