body {
    background-color: #ffffff;
}

li, a, button {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #eeeeee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9
}

.logo {
    cursor: pointer;
    height: auto;
    width: 40px;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
    color: #0088a9;
}