body {
    background-color: #eeeeee;
}

li, a, button {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9
}

.logo {
    cursor: pointer;
    height: auto;
    width: 40px;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.9);
    color: aliceblue;
}

.container-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 10px;
}

.tarjeta-hecho {
    max-width: 370px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 24px;
    padding: 20px;
    margin: 10px;
}

.form-sol-eliminacion {
    display: flex;
    justify-content: center;
}

.form-sol-eliminacion button {
    width: 100vw;
    text-align: center;
    margin-top: 10px;
}