* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
    font-family: "Roboto Light", sans-serif;
}

footer {
    background-color: #f1c40f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 20px;
}