* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

footer {
    background-color: #eeeeee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-align: center;
}

.titulo {
    font-size: 20px;
}