* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    background-color: #f1c40f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 20px;
}

img {
    height: 400px;
    object-fit: contain;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.card-title a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.card-title a:hover {
    color: #0056b3;
    text-decoration: underline;
}