* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

body {
    background-color: #eeeeee;
}

.titulo {
    font-size: 20px;
}

.btn {
    background-color: rgba(0,136,180,1);
    color: aliceblue;
    padding: 9px 25px;
    border:none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: rgba(0,136,179,0.9);
}

footer {
    text-align: center;
    padding: 30px 10%;
    background-color: #eeeeee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

