* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

footer {
    text-align: center;
    padding: 30px 10%;
    background-color: #eeeeee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

.titulo {
    font-size: 20px;
}