* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #354152;
    color: #7e8ba3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Light", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-field{
    margin-bottom: 10px;
    text-align: center;
}

input {
    border: 0;
    border-radius: 10px;
    width: 100%;
    font: inherit;
    text-align: center;
}

input:focus {
    border-color: #007bff;
    background: rgba(255, 255, 255, 0.15);
}

.form-button {
    border-radius: 3px;
    background-color: #34495e;
    border-color: #007bff;
    color: #f1c40f;
    width: 100%;
}

.form-button:hover

.titulo {
    font-size: 20px;
}

img {
    height: 400px;
    object-fit: contain;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.card-title a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.card-title a:hover {
    color: #0056b3;
    text-decoration: underline;
}