{{#partial "head"}}
    <title> Panel de Administración - MetaMapa </title>
    <link rel="stylesheet" href="/assets/admin/admin-home.css">
{{/partial}}

{{#partial "contenido-main"}}
    <div class="dashboard">
        <p class="dashboard-bienvenida"> Hola, {{nombreUsuario}} </p>
    </div>

    <div id="solicitudesPendientes" class="tarjeta-hecho">
        {{> templates/partials/solicitudesPendientes}}
    </div>
{{/partial}}
{{> templates/layout/layout.administrador}}
